body {
    height: auto;
    margin: 0;
}

h1 {
    background-color: red;
    text-align: center;
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}

#navigate {
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu {
    background-color: grey;
    margin: 0;
}

.menu li {
    display: inline-block;
    padding: 10px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.menu li:hover {
    background-color: rgb(0, 0, 0.7);

}

.menu li:nth-child(2):hover>.dropdown,
.menu li:nth-child(3):hover>.dropdown {
    display: block;
}

.dropdown {
    display: none;
    background-color: whitesmoke;
    position: absolute;
    top: 45px;
    max-width: 150px;
    padding: 0;

}

.dropdown li {
    display: block;
}

.dropdown li:hover {
    background-color: gainsboro;
}

.dropdown li a {
    color: steelblue;
    font-size: 16px;
}